.baitap__buoi__7__8{
    padding: 20px 200px;
    margin: 0px auto;
    background-color:#6c7ee1;
}
h3, h1{
    text-align: center;
    margin-bottom: 20px;
    color: #863002;
}

.phanMot{
    background-color:#92b9e3;
    text-align: center;
    padding: 20px 30px;
    margin-top: 50px;
    border-radius: 20px;
}
button{
    margin: 20px auto;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: #f179b8;
    border: none;
}
.ketqua111{
    background-color: blueviolet;
    height: 50px;
    padding: 10px;
    color: #ffc4a4;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}